<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LogicBuilder.ComponentModel.Design.Serialization" version="1.0.2" targetFramework="net461" />
  <package id="LogicBuilder.Workflow.Activities.Rules" version="1.0.2" targetFramework="net461" />
  <package id="LogicBuilder.Workflow.Activities.Rules.Design" version="1.0.2" targetFramework="net461" />
  <package id="LogicBuilder.Workflow.ComponentModel.Serialization" version="1.0.2" targetFramework="net461" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net461" />
</packages>