name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.302
        source-url: https://nuget.pkg.github.com/blaised/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Set Variables
      run: |
        echo "GITHUB_NUGET_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
        echo "REPO=${{ github.repository }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
        echo "REPO_OWNER=${{ github.repository_owner }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append

    - name: Build and Push LogicBuilder.ComponentModel.Design.Serialization
      env:
        PROJECT_NAME: LogicBuilder.ComponentModel.Design.Serialization
      run: ./CI_Build_Push.ps1
      shell: pwsh

    - name: Build and Push LogicBuilder.Workflow.ComponentModel.Serialization
      env:
        PROJECT_NAME: LogicBuilder.Workflow.ComponentModel.Serialization
      run: ./CI_Build_Push.ps1
      shell: pwsh

    - name: Build and Push LogicBuilder.Workflow.Activities.Rules
      env:
        PROJECT_NAME: LogicBuilder.Workflow.Activities.Rules
      run: ./CI_Build_Push.ps1
      shell: pwsh

    - name: Build and push LogicBuilder.Workflow.Activities.Rules.Design
      env:
        PROJECT_NAME: LogicBuilder.Workflow.Activities.Rules.Design
      run: ./CI_Build_Push_Design.ps1
      shell: pwsh

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal
